@charset "utf-8";

html, body {
  margin: 0;
  height: 100%;
}

@import "variables";
/* Bulma Checkbox */
@import "bulma-checkbox/bulma-checkbox";
/* Bulma Responsive Tables */
@import "bulma-responsive-tables/bulma-responsive-tables";
@import "bulma";
@import "overrides";
